By,
Amarah Iqbal

### ANSWERS

# ans 1


A database is a structured collection of data that can be accessed, managed, and updated electronically. It provides an efficient way to store, organize, and retrieve data. A database management system (DBMS) is used to manage databases.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases. SQL databases use a structured data model, where data is stored in tables with fixed columns and rows. They are known for their ability to handle structured data and offer a high level of reliability and consistency. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, are non-relational and use a flexible data model, which can vary from document-based to key-value stores. They are designed to handle unstructured and semi-structured data and are highly scalable. Examples of NoSQL databases include MongoDB, Cassandra, and Amazon DynamoDB.

# ans 2

DDL stands for Data Definition Language, and it is used to define the database schema. DDL statements are used to create, modify, and delete database objects like tables, indexes, and views. The main DDL commands are:

CREATE: used to create a new database object.
DROP: used to delete an existing database object.
ALTER: used to modify an existing database object.
TRUNCATE: used to remove all data from a table.
For example, to create a new table in a SQL database, we would use the CREATE statement:
    CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

# ans 3 

DML stands for Data Manipulation Language, and it is used to manipulate data in a database. DML statements are used to insert, update, and delete data in database tables. The main DML commands are:

INSERT: used to add new data to a table.
UPDATE: used to modify existing data in a table.
DELETE: used to remove data from a table.
For example, to add a new row to the "customers" table, we would use the INSERT statement:

INSERT INTO customers (id, name, email) VALUES (1, 'John Smith', 'john@example.com');

# ans 4 

DQL stands for Data Query Language and is used to retrieve data from a database. The SELECT statement is one of the most commonly used commands in SQL and is used to retrieve data from one or more tables. The SELECT statement is structured as follows:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

# ans 5

A primary key is a column or set of columns in a database table that uniquely identifies each row in the table. Primary keys are used to enforce the integrity of the data in the table, and they are also used to establish relationships between tables. A primary key must be unique and non-null.

For example, in a table of employees, the employee_id column could be the primary key. This would ensure that each employee has a unique identifier, and it would allow the employee table to be related to other tables that reference employees.

A foreign key is a column or set of columns in a database table that references the primary key of another table. Foreign keys are used to establish relationships between tables, and they are used to enforce referential integrity between the tables. A foreign key must reference a valid primary key in another table.

In [ ]:
# ans 6
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM tablename")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
# ans 7

The order of execution of SQL clauses in a SQL query is as follows:

FROM: This clause specifies the table(s) from which to retrieve data.
WHERE: This clause filters the data based on a specified condition.
GROUP BY: This clause groups the data by one or more columns.
HAVING: This clause filters the grouped data based on a specified condition.
SELECT: This clause selects the columns to retrieve from the table(s).
ORDER BY: This clause orders the retrieved data based on one or more columns.
LIMIT: This clause limits the number of rows returned by the query.